__pycache__
**/tests/**/expectations
*.ckpt
*.dev.js
*.pth
*.safetensors
*_i.py
*_m.py
*_s.py
*_u.py
.DS_Store
.vscode
/.coverage*
/.idea
/ESRGAN/*
/GFPGANv1.3.pth
/SwinIR
/SwinIR/*
/cache
/cache.json*
/config.json
/config_states/
/embeddings
/extensions
/gfpgan/weights/*.pth
/interrogate
/log
/model.ckpt
/models/**/*
/node_modules
/output
/output/
/outputs
/outputs/
/package-lock.json
/params.txt
/repositories
/styles.csv
/styles.csv.bak
/sysinfo-????-??-??-??-??.json
/test/results.xml
/test/stderr.txt
/test/stdout.txt
/test/test_outputs
/textual_inversion
/tmp
/ui-config.json
/user.css
/venv
/webui-user.bat
/webui-user.sh
/webui.settings.bat
coverage.xml
huggingface_space_mirror/
notification.mp3
random_test.py
trace.json
/installer_files/
